[package]
name = "rsvpctl"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }

rsvp-core-types = { path = "../../crates/core_types" }
rsvp-simulation = { path = "../../crates/simulation" }
flyxion-io = { path = "../../crates/io" }
